# Function

In [2]:
def Python_S():
    print("Pythonss")

Python_S()

Pythonss

In [3]:
def my_function(fname):
    print(fname + " Nabunturan")

my_function("Joe")
my_function("Carl")
my_function("Jake")

Joe Nabunturan
Carl Nabunturan
Jake Nabunturan

In [7]:
def my_function(fname, lname):
    print(fname + " " + lname)

my_function("John", "Doe")

John Doe

In [11]:
def my_function(*name):
    print("This is the children was crossing the road: " + name[2])

my_function("John", "Doe", "Carl")

TypeError: my_function() takes 1 positional argument but 3 were given

In [14]:
def my_function(name1, name2, name3):
    print("This guy's name is: " + name3 + " ,you should arrest him")

my_function(name1 = "Jake", name2 = "John", name3 = "Doe")

This guy's name is: Doe you should arrest him

In [20]:
def my_function(**kid):
    print("My name is: " + kid["mname"])

my_function(fname = "John", mname = "Doe", lname = "Nabunturan")

My name is: Doe

In [21]:
def my_function(country = "Philippines"):
    print("The country are: " + country)

my_function("India")
my_function("China")
my_function()
my_function("Japan")

The country are: India
The country are: China
The country are: Philippines
The country are: Japan

In [22]:
def my_function(food):
    for x in food:
        print(x)

fruit = ["Apol", "Orengi", "Avacada"]

my_function(fruit)

Apol
Orengi
Avacada

In [23]:
def my_function(x):
    print(x * 5)

my_function(8)
my_function(9)
my_function(10)

40
45
50

In [24]:
def my_function(x):
    return x * 5

print(my_function(8))
print(my_function(9))
print(my_function(10))

40
45
50

In [25]:
def my_function(x, /):
    print(x)

my_function(5)

5

In [26]:
def my_function(x):
    print(x)

my_function(x = 5)

5

In [27]:
def my_function(*, x):
    print(x)

my_function(x = 5)

5

In [31]:
def my_func(a, b, /, *, c, d):
    print(a + b + c + d)

my_func(5, 7, c = 2, d = 3)

17

In [38]:
def tri_recursion(x):
    if (x > 0):
        result = x + tri_recursion(x - 1)
        print(result)
    else:
        result = 0
    return result
        
print("Hola")
tri_recursion(5)

Hola
1
3
6
10
15

15